.App {
  padding-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #FFFFFF;
  width: 1010px;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 37px;
  padding-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  row-gap: 37px;
  column-gap: 37px;
  justify-content: center;
  justify-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}


:where(.css-dev-only-do-not-override-tjsggz).ant-pagination .ant-pagination-item-active a {
  color: #FFFFFF;
  background-color: #1677ff;
  border-radius: 4px;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-input:placeholder-shown {
  margin-top: 20px;
  height: 40px;
  padding: 9px 12px;
}

.loading {
  display: inline-block;
  margin-left: 50%;
}

:where(.css-dev-only-do-not-override-tjsggz)[class^="ant-input"], :where(.css-dev-only-do-not-override-tjsggz)[class*=" ant-input"] {
  height: 40px;
}