* {
  box-sizing: border-box;

}

body {
  background-color: #F7F7F7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;

}

.offline {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-spin-lg .ant-spin-dot, :where(.css-dev-only-do-not-override-tjsggz).ant-spin-lg .ant-spin-dot-holder {
  margin-bottom: 15px;
  margin-left: 55px;
}

@media (max-width: 420px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 420px;
  }

  body {
    background-color: #FFFFFF;
  }

  .App {
    max-width: 420px;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card {
    display: block;
    min-height: 245px;
    max-width: 388px;
    grid-template-columns: 70px 317px;
  }

  .card__image {
    float: left;
    width: 60px;
    height: 91px;
    margin-left: 10px;
    margin-top: 6px;
    margin-right: 13px;
  }

  :where(.css-dev-only-do-not-override-tjsggz).ant-pagination {
    justify-content: normal;
    margin-left: 6%;
  }

  :where(.css-dev-only-do-not-override-tjsggz).ant-alert {
    width: 300px;
  }

  .rateValueBox {
    margin-top: 5px;
  }

  .card__information {
    display: block;
  }

  .card__info {
    margin: 20px 0;
  }

  .rate {
    justify-content: flex-end;
    padding-right: 5px;
  }

  .pagination-container .ant-pagination {
    justify-content: center !important;
    margin-left: 0 !important;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .pagination-container {
    padding: 0 8px;
    justify-content: center;
    margin-bottom: 20px;
  }
}