body {
  background-color: #F7F7F7;
  box-sizing: border-box;
}

.offline {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-spin-lg .ant-spin-dot, :where(.css-dev-only-do-not-override-tjsggz).ant-spin-lg .ant-spin-dot-holder {
  margin-bottom: 15px;
  margin-left: 55px;
}

